{% extends 'base.html' %}
      
	{% block content %}
      <div class="starter-template">
        <!-- <div class="jumbotron"> -->
          <h1>PiPlay <small>Remote Manager</small></h1>
          <div class="bs-callout bs-callout-info">
            <h4>Welcome to the PiPlay Remote Manager</h4>
            <p>Select one of the options below to remotely manage your PiPlay installation.</p>
          </div>
          <!-- <p class="lead">Welcome to the Pimame Remote Manager. <br> Select one of the options below to remotely manage your PiMAME installation.</p> -->
          
          <a class="btn btn-primary btn-lg" href="{{url_for('rom')}}"><i class="glyphicon glyphicon-upload"></i> ROM Uploader</a>
          <a class="btn btn-primary btn-lg" href="{{url_for('tools')}}"><i class="glyphicon glyphicon-wrench"></i> Tools</a>
        <!-- </div> -->

      </div>



    {% endblock %}