{% extends 'base.html' %}
      
	{% block content %}
      <div class="starter-template">
        <h1>ROM Uploader</h1>
        <div class="bs-callout bs-callout-info">
          <h4>Select a platform to upload a ROM</h4>
          <p>Select the platform you want to upload roms for, then drag them into the box.</p>
        </div>
      </div>
        <p>
          {% for d in data %}
            {% if d.rom_path and d.label != 'Favorites' %}
              <p><a href="{{ url_for('list_files', system_label = d.label) }}" > <span class="label label-primary">{{d.label}}</span> - {{d.rom_path}} </a></p>
            {% endif %}
          {% endfor %}
        </p>


    {% endblock %}