<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5 / jQuery</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> 
		<script>
            var path = '{{ system_path }}';
        </script>
        <script type="text/javascript" src="/static/js/jquery.filedrop.js"></script>
        <script type="text/javascript" src="/static/js/upload.js"></script>
    </head>
    <body>
		<div id="dropbox">
			<span class="message">Drop files here to upload.</span>
		</div>
    </body>
</html>

